#main{
  margin: auto;
  width: 100px;
  height: 25px;
  display: flex;
  flex-direction: row;
  margin-right: 100px;
  margin-left: auto;
  margin-top: 20px;
  justify-content: space-between;
}
.main-items{
  width: 25%;
  height: 100%;
  background-color: purple;
  margin: 0px 5%;
}
.red{
  background-color: red;
}
.blue{
  background-color: blue;
}
.yellow{
  background-color: yellow;
}
.purple{
  background-color: purple;
}
.orange{
  background-color: orange;
}
.pink{
  background-color: pink;
}
